.threeObj {
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.hide {
    left: -100vw;
  }
  &.active {
    left: 0vw;
  }
}
